<template>
  <div class="main">
    <h1>ΤΟ ΟΙΚΟΣΥΣΤΗΜΑ - ΝΔΑ GENERATOR</h1>
   
    <h3>ΣΥΜΦΩΝΩ ΑΝΕΠΥΦΥΛΑΚΤΑ ΜΕ ΤΟΥΣ ΠΑΡΑΚΑΤΩ ΟΡΟΥΣ</h3>
    <ul>
      <li v-for="(rule, index) in ndarules" :key="index">
        <input type="checkbox" :id="'rule-' + index" v-model="rule.value">
        <label :for="'rule-' + index">{{ rule.label }}</label>
      </li>
    </ul>
    <button v-if="notfinalized" @click="createNDA">ΔΗΜΙΟΥΡΓΙΑ ΝΔΑ</button>
    <img v-if="showImage" style="width:100%;max-width: 700px;" src='../assets/NDA.png' alt="NDA Image">
    <h3 v-if="denmaskanei" :style="{ backgroundColor: backgroundColor, color: 'black', fontSize: '2em' }">Ρε φύγε απο δώ ρε μπρο</h3>
  </div>
</template>

<script>
export default {
  name: 'NDA OIKOSYSTIMA',
  props: {
    msg: String
  },
  data() {
    return {
      name: '',
      ndarules  : [
        { label: 'Δεν θα αποκαλύψω ποτέ την ταυτότητα του Εντέρπρενερ', value: false },
        { label: 'Η οποιαδήποτε συμμετοχή μου στο πόντκαστ μέσω μέταβερσε ή αν ειμαι μπλάιντφολντ', value: false },
        { label: 'Δεν θα αποκαλύψω τα μυστικά του Οικοσυστήματος', value: false },    
        { label: 'Για οποιαδήποτε ζημιά στη μόστρα μου ευθύνομαι αποκλειστικά εγώ', value: false },
        { label: 'Αν μιλήσω μου γαμιέται...', value: false }
      ],
      showImage: false,
      notfinalized: true,
      denmaskanei: false,
      backgroundColor: 'orange',
    }
  },
  methods: {
    createNDA() {
      const allChecked = this.ndarules.every(rule => rule.value);
      if (allChecked) {
        this.showImage = true;
        this.notfinalized = false;
        this.denmaskanei = true;
      } else {
        this.showImage = false;
        this.denmaskanei = true;
        this.setRandomColor();
      }
    },
    setRandomColor() {
    const colors = ['red', 'orange', 'brown', 'blue', 'green', 'purple', 'pink', 'yellow'];
    this.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>