<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <NDA msg="gia pame"/>
</template>

<script>
import NDA from './components/NDA.vue'

export default {
  name: 'App',
  components: {
    NDA
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
